
  @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #F9F9F9;
  font-size: 14px;
  font-weight: 400;
 
 
  
}


main{
   
  display: flex;
  justify-content: center;
   
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
    
}

.search-container {
  display: flex;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 2px;
  overflow: hidden;
  width: 404px;
  max-width: 100%;
  height: 40px;
}

.search-input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
}

.search-button {
  padding: 10px;
  color: white;
  border: none;
  cursor: pointer;
}

.search-icon {
  height: 40px;
  width: 57px;
  background-color: #f1f1f1;
  color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-icon img {
  width: 24px;
  height: 24px;
}
.avatar-icons{
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.youtube-icon{
    width: 146px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 56px;
    background-color: #fff;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    
   

}
.video-principal{
  display: flex;
  flex-flow: column nowrap;
  max-width: 952px;
}
.watch-video iframe{
  width: 952px;
  height: 537px;
  margin-bottom: 16px;
 
}

.iteration{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 902px;
  margin-top: 16px;
}
#iteration-icons{
  display: flex;
  gap: 12px;
}
#iteration-icons p{
  color: black;
  font-weight: 600;
}

.watch-video{
  display: flex;
  flex-flow: column nowrap;
  font-weight: 600;
  align-items: flex-start;
}
#insc-button button{
  width: 159px;
  height: 40px;
  border-radius: 2px;
  background: #C00;
  border: 1px solid red;
  color: #FFF;
  font-size: 14px;
  font-weight: 600;
}
.button{
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 14px;
  font-weight: 600;
  gap: 8px;
}

#infos{
  display: flex;
  font-weight: 600;
  font-size: 14px;
  padding: 16px 0 16px 0;
}

#description{
  width: 550px;
  height: 64px;
  color: #515151;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

.recommended{
  padding-left: 25px;
  max-width: 500px;
  max-height: 100px;
}


.recommended-content{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 16px;
}

.recommended-content-info{
  display: flex;
  flex-flow: column nowrap;
  padding: 0 0 0 16px;
}

.recommended-content-info h3{
  padding: 0 0 5px 0;
  font-weight: 600;
  font-size: 14px;
}

.recommended-content-info p{
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 12px;
}